body {
  background-color: #a7c3b7;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
}
.page {
  background-color: #a7c3b7;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #303688;
  size: 1.8em;
}