/* masthead style */

.masthead img {
  max-width: 250px;
}

.masthead h2 {
  padding: 0;
  margin: 0;
}

/* navigation style */
.sticky-nav {
  position: fixed;
  min-width: 210px;
  top: 20px;
  right: 0;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 18px;
}

.sticky-nav-item {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #a870a8; /* Adjust color as needed */
  color: white;
  text-decoration: none;
}
 /* about styles */

.about {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  padding: 35px
}
.about img {
  max-width: 275px;
  float: left; /* Align mockup image to the left */
  vertical-align: auto;
  margin-right: 30px; /* Add space between mockup image and text */
}
.about-text {
  text-align: left; /* Align text to the left */
  margin-top: 0; /* Reset margin */
  padding: 0;
}
.about p {
  font-size: 24px;
}

/* styles for location grid */

.collection {
  display: grid; /* Use grid layout for collection */
  grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
  grid-gap: 20px; /* Add some space between grid items */
  max-width: 1000px;
  margin: 25px auto; /* Center collection and add space */
}

.location-card {
  color: #ffffff;
  width: 100%;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.location-card img {
  width: 100%; 
  max-width: 400px;
  filter: grayscale(0); /* initially set to color */
  transition: filter 0.2s ease; /* transition for smooth effect */
}

.location-card img:hover {
  filter: grayscale(1); /* change to grayscale on hover */
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  font-family: "Apfel", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 24px;
  position: absolute;
  top: 35px; /* Adjust to 25px from the top */
  left: 0; /* Pin it to the left side */
  padding: 10px;
  margin: 0; /* Remove margin */
  display: inline;
}

/* footer section */
.footer img {
  max-width: 45px;
  padding: 15px;
}

/* Media query for single column layout */
@media screen and (max-width: 768px) {
  .sticky-nav {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    position: static; 
    margin-top: 20px; /* Add margin to separate from masthead */
  }
  
  .sticky-nav a {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #a870a8; /* Adjust color as needed */
    color: white;
    text-decoration: none;
  }

  .about img {
    float: none; /* Remove float */
    margin-right: 0; /* Remove margin */
    margin-bottom: 20px; /* Add space below the image */
  }

  .about-text {
    margin-top: 20px; /* Add space above text */
    text-align: center; /* Center text */
  }

  .collection {
    grid-template-columns: 1fr; /* Switch to single column layout */
  }
}