nav {
    display: flex;
    align-items: center; /* align items vertically */
    justify-content: space-between; /* distribute items along the main axis */
}

.issue-masthead {
    max-width: 200px;
    margin-left: auto; /* push location banner to the right */
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, [col-start] 1fr);
    grid-gap: 10px;
    justify-content: center; /* center grid items horizontally */
}

.location-body {
    max-width: 1050px;
    margin: 0 auto;
    padding-bottom: 75px;
}
.mockup {
    max-width: 350px;
    float: left; /* align mockup image to the left */
    margin-right: 20px; /* add space between mockup image and text */
}
.body-text {
    text-align: left; 
    margin-left: 0; 
    margin-top: 0; 
    padding: 0;
}

/* Media query for switching to single column layout */
@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; /* wwitch to single column layout */
    }

    .nav {
        flex-direction: column; /* stack items vertically */
        align-items: flex-start; /* align items to the start of the container */
    }

    .issue-masthead {
        margin-left: 0; 
        margin-top: 10px; 
    }
     .mockup {
            float: none; /* Remove float */
            margin-right: 0; 
            margin-bottom: 20px; 
        }
    
    .location-body h2,
    .location-body p,
    .location-body h3,
    .location-body p {
        margin-left: 0; 
        }
    }
