@font-face {
  font-family: "NectoMono";
  src: local("NectoMono"),
    url("./fonts/NectoMono-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Apfel";
  src: local("Apfel"),
    url("./fonts/ApfelGrotezk-Regular.woff2") format("woff2");
  font-weight: regular;
}

:root {
  font-family: "Apfel", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(7, 0, 0, 0.87);
  background-color: #f2f2f2;
}
h1 {
  color: #eeeeee;
  font-family: "Apfel", san-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.8em;
  line-height: 1.1;
}
h2{
  font-family: "NectoMono", san-serif;
  font-size: 1.2rem;
  margin: 0.5rem;
}
h3 {
  font-size: 1rem;
  margin: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 0.2rem;
}
a {
  color: #ffffff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
img {
  width: 100vw;
  max-width: 500px;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  border: none; /* Remove border */
  padding: 0.8em;
  margin: 1.5em;
  font-size: 1.2em;
  font-family: inherit;
  background-color: #a870a8;
  cursor: pointer;
}

button:hover {
  background-color: #b58f24;
}


.copyright-text {
  font-size: 9px;
}

