#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(204, 217, 231);
}
img {
  max-width: 500px;
  border-width: 5px;
  border: rgb(14, 24, 165);
}
li {
  display: inline;
  margin-right: 20px;
  font-size: 20px;
}
.body-copy {
  max-width: 600px;
}