.restaurantCard {
    background-color: #496b3a;
    color: #dbe172;
    width: 100%;
    max-width: 250px;
    padding: 10px;
    height: 400px;
    border: 5px solid #b6abe9;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.cardImg img {
    max-width: 200px;
    width: 100%;
    filter: grayscale(25%);
}
.cardTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
a {
    color: #dbe172;
}
a:hover {
    color: #e27fdb;
  }
.highRating, .mainGroup{
    width: 25px;
    height: 25px;
    bottom: 12.5px;
    position: absolute;
    z-index: 10;
    left: 15px;
}
.highRating {
    bottom: 15px;
}
.actions {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.actions a img {
    width: 25px;
    height: 25px;
}
.actions a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    padding-top: 3px;
    background: #dbe172;
}
.actions a:hover {
    background: #e27fdb;
}